
/* @media (max-width: 768px) {
    .task-form{
        width: 200px;
        height: 100px;
    }
} */
.task-top{
    box-shadow: 5px 5px 10px #ccc;
}
.task-nav{
    background-color: #A888B5 !important;
}
.task-form{
    box-shadow: 5px 5px 10px #ccc;
}
.task{
    border-radius: 5px;
}